<head>
  <%= render partial: "shared/navbar" %>
</head>

<p id="notice"><%= notice %></p>

<h1>Blogposts</h1>



<%= load './lib/NewBlogNotification/notification.rb'%>

<body>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 justify-content-center">
        <b>Test 1</b>
      </div>
      
      <div class="col col-lg-7">
        <% @blogposts.each do |blogpost| %>
          <div class="container bg-light border mb-4 justify-content-md-center">
            <br>
            <div class="d-flex flex-row">
              <h3><%= blogpost.title %></h3>
            </div>
            <div class="d-flex flex-row mb-2">
              <div class="p-2">Category: <b><%= blogpost.category %></b></div>
              <div class="p-2">Author: <b><%= blogpost.author %></b></div>
              <div class="p-2"><i>Date Created: <%= blogpost.created_at %></i></div>
            </div>
            <div class="d-flex flex-row mb-2">
              <div class="d-flex flex-col">
                <div class="p-2"><%= image_tag (blogpost.image_url), size: "260x180"%></div>
              </div>
              <div class="d-flex flex-col">
                <div class="p-2"><p><%= blogpost.content %></p></div>
              </div>
            </div>
            <div>
              <a href="<%= blogpost_comments_path(blogpost, @comment) %>">Comments Section</a>
              <a href="<%= @id = Blogpost.find([blogpost.id]) %>">ABC Section</a>
              <% @comments = blogpost.comment %>
              <p class="fs-4 p-2">Comments Section</p>
              <%= link_to 'New Comment', new_blogpost_comment_path(blogpost) %>
              <% for comment in @comments %>
                <br>
                <div class="col-md-12 offset-md-3 pd-5">
                  <div class="col col-lg-2">
                  </div>
                  <div class="col col-lg-6">
                    <div class=" w-100 p-2 row border bg-light border-secondary rounded-pill border-1 border-bottom-2 border-top-0 border-start-0 border-end-0">
                      <p class="fw-light">Comment:</p> <p class="fs-6"><%= comment.message %></p>
                    </div>
                  </div>
                  <div class="col col-lg-2">
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col col-lg-2 p-auto justify-content-center">
        <a class="twitter-timeline" data-lang="en" data-height="1080" href="https://twitter.com/MetEireann?ref_src=twsrc%5Etfw">Tweets by MetEireann</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
 
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Admin Menu
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Content</th>
            <th>Author</th>
            <th>Image url</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @blogposts.each do |blogpost| %>
            <tr>
              <td><%= blogpost.title %></td>
              <td><%= blogpost.category %></td>
              <td><%= blogpost.content %></td>
              <td><%= blogpost.author %></td>
              <td><%= blogpost.image_url %></td>
              <td><%= link_to 'Show', blogpost %></td>
              <td><%= link_to 'Edit', edit_blogpost_path(blogpost) %></td>
              <td><%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>

<br>

<%= link_to 'New Blogpost', new_blogpost_path %>

<footer>
  <%= render partial: "shared/footer" %>
</footer>
