<head>
  <%= render partial: "shared/navbar" %>
</head>

<p id="notice"><%= notice %></p>
<%= puts "Weather Report #{@notification} was published on #{@notification}\n" %>

<body>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 justify-content-center">
        <%= render partial: "shared/weather_rss" %>
      </div>
      <div class="col col-lg-8">
        <%= render partial: "blogposts/blogpost_record" %>
      </div>

      <div class="col col-lg-2 p-auto justify-content-center">
        <a class="twitter-timeline" data-lang="en" data-height="1080" href="https://twitter.com/MetEireann?ref_src=twsrc%5Etfw">Tweets by MetEireann</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  
  <% if current_user.present? %>
    <% if current_user.admin? %>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Admin Menu
      </button>
      <%= link_to 'Create New Blogpost', new_blogpost_path, class: "btn btn-success fw-normal text-white" %>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                <th>Author</th>
                <th>Image url</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @blogposts.each do |blogpost| %>
                <tr>
                  <td><%= blogpost.title %></td>
                  <td><%= blogpost.category %></td>
                  <td><%= blogpost.content %></td>
                  <td><%= blogpost.author %></td>
                  <td><%= blogpost.image_url %></td>
                  <td><%= link_to 'Show', blogpost %></td>
                  <td><%= link_to 'Edit', edit_blogpost_path(blogpost) %></td>
                  <td><%= button_to 'Destroy', blogpost, method: :delete, dependent: :destroy, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
</body>
<br>
<footer>
  <%= render partial: "shared/footer" %>
</footer>