<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blogpost.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blogpost.category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blogpost.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blogpost.author %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @blogpost.image_url %>
</p>

<!-- Display the reviews of a movie -->
<h2>Comments</h2>
<% @blogpost.comment.each do |comment| %>
<p>
<b>Comment details:</b>
<%= comment.message %>
</p>
<% end %>
<%= link_to 'Edit Blog', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
<%= link_to 'Show Comments', blogpost_comments_path(@blogpost) %>



