<!-- Image and text -->
<nav class="navbar navbar-light bg-light ">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col">
      </div>
      <div class="col">
        <a href="/"><%= image_pack_tag 'weather_icon.png', width:"128", height:"128", class:"d-inline-block align-top", alt:"all-weather-logo"%></a>
        <div class="row text-center mt-2">
          <p class="fs-5">All Weather</p>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row pt-3">
    <div class="col-lg align-self-start">
      <%= render partial: "shared/day" %>
    </div>
    <div class="col-lg align-self-center">
    </div>
    <div class="col-lg align-self-center">
    </div>
    <div class="col-lg align-self-center">
    </div>
    <div class="col-lg align-self-end">
      <div class="row">
        <div>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <p class="text-success">Admin Account</p>
            <% else %>
              <p class="text-success">User Account</p>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
            <p>Signed in as... <%=current_user.email %></p>
            <%=button_to 'Sign out', destroy_user_session_path, :method => :delete%>
          <% else %>
            <%=link_to 'Register', new_user_registration_path%> or
            <%=link_to 'Sign in', new_user_session_path%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>