<p id="notice"><%= notice %></p>

<h1>Forecasts</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Forecast</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.day %></td>
        <td><%= forecast.date %></td>
        <td><%= forecast.forecast %></td>
        <td><%= link_to 'Show', forecast %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
          <td><%= link_to 'Destroy', forecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forecast', new_forecast_path %>
