<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @forecast.day %>
</p>

<p>
  <strong>Date:</strong>
  <%= @forecast.date %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @forecast.forecast %>
</p>

<!-- Display the reviews of a movie -->
<h2>Rainfall Forecast</h2>
<% @forecast.rainfall.each do |rainfall| %>
<p>
<b>Rainfall details:</b>
<%= rainfall.amount %>
</p>
<% end %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Edit Forecast', edit_forecast_path(@forecast) %> |
  <%= link_to 'Forecast Rainfall', forecast_rainfalls_path(@forecast) %>
<% end %>
<%= link_to 'Back', forecasts_path %>




